@import "tailwindcss";
@theme {
  --color-primary-200: #FEDA64;
  --color-primary-100: #FFEEB4;
  --color-secondary-500: #462F85; 
  --color-secondary-400: #4D47C3;
  --color-secondary-300: #A7A3FF;

}